beautifulsoup4==4.13.4
bpyutils==0.5.8
certifi==2025.1.31
charset-normalizer==3.4.1
gitdb==4.0.12
GitPython==3.1.44
html5lib==1.1
idna==3.10
lxml==5.3.2
numpy==2.0.2
pandas==2.2.3
pipupgrade==1.12.0
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.3
six==1.17.0
smmap==5.0.2
soupsieve==2.7
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
webencodings==0.5.1
